<div class="container" fxLayoutAlign='center center'>
  <mat-card class='card'>
    <div fxLayoutAlign='center center' fxFlexGap='15px'>
      <i class="material-icons company-logo">person</i>
      <div class='product-name'>CONNECTIONS</div>
    </div>
    <form #loginForm='ngForm' (ngSubmit)='register()'>
      <div>
        <mat-form-field>
          <input placeholder="Podaj imię" matInput required name='name' [(ngModel)]='name'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput name='lastname' required placeholder="Podaj nazwisko" [(ngModel)]='lastname'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput name='email' required placeholder="Podaj email" [(ngModel)]='email'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput name='password' type='password' required placeholder="Hasło" [(ngModel)]='password'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput name='repeatedPassword' type='password' required placeholder="Powtórz hasło" [(ngModel)]='repeatedPassword'>
        </mat-form-field>
      </div>
      <button mat-raised-button [disabled]='!loginForm.form.valid || passwordMismatch()' type='submit'>Stwórz konto</button>
    </form>
    <h5 routerLink='/login' class='login-register-switch'>Masz konto? Zaloguj się!</h5>
  </mat-card>
</div>
