<div class="menu-container" fxLayoutAlign='space-around center'>
  <div fxFlex='20' fxLayoutAlign='end center'>
    <img src="assets/company-logo.png" class='company-logo' routerLink=''>
  </div>
  <div fxFlex='60' fxLayoutAlign='center center'>
    <app-users-search-engine style='width: 100%'></app-users-search-engine>
  </div>
  <div fxFlex='20' fxLayoutAlign='center center'>
    <img matTooltip="Wyszukaj znajomych!" src="assets/person-icon.png" class='person-icon' routerLink='users'>
  </div>
</div>
