<div ng-sticky class="menu-container" fxLayoutAlign='space-around center'>
  <div fxFlex='20' fxLayoutAlign='end center'>
    <i class="material-icons company-logo" (click)='logoClicked()' routerLink=''>person</i>
  </div>
  <div fxFlex='60' fxLayoutAlign='center center'>
    <app-users-search-engine style='width: 100%'></app-users-search-engine>
  </div>
  <div fxFlex='20' fxLayoutAlign='start center'>
    <button mat-button [matMenuTriggerFor]="menu">
      <img class='logged-in-user-avatar' [src]="applicationData.loggedInUser.AvatarUrl">
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/users', applicationData.loggedInUser._id]" fxLayoutAlign='start center' fxLayoutGap='5px'>
        <i class="material-icons">person</i> {{applicationData.loggedInUser.fullName}}</button>
      <button mat-menu-item fxLayoutAlign='start center' fxLayoutGap='7px' routerLink='/login'>
        <i class="material-icons logout">exit_to_app</i> Wyloguj
      </button>
    </mat-menu>
  </div>
</div>
