<div class="menu-container container">

  <div class="row">
    <div class="col-mat-5 col-xs-5 menu-column">

      <div class="menu-nav-box">
        <mat-icon>home</mat-icon>
        <span class='menu-nav-text hidden-sm hidden-xs'>Home</span>
      </div>

      <div class="menu-nav-box">
        <mat-icon>notifications</mat-icon>
        <span class='menu-nav-text hidden-sm hidden-xs'>Notifications</span>
      </div>
      <div class="menu-nav-box">
        <mat-icon>message</mat-icon>
        <span class='menu-nav-text hidden-sm hidden-xs'>Messages</span>
      </div>

    </div>
    <div class="col-md-2 col-xs-2">
      <div class="menu-column">
        <a href="">
          <img src="assets\icon.png" class='icon'>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="menu-column">

      </div>
    </div>


    <div class="col-md-1 col-xs-1 flex-container flex-row-reverse">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>


  </div>


</div>
