<md-card>
  <div class="flex-container box">
    <img class='img-circle publisher-avatar' src="{{post.publisherAvatarUrl}}" />
    <div class='publisher-information'>
      <h3>{{post.publisher}}</h3>
      <p> {{post.publishDate}}</p>
    </div>
  </div>

  <p class='content'>{{post.content}}</p>

  <div class="row">
    <div class="col-sm-12">
      <img [src]="post.image" class='img-responsive' alt="">
    </div>
  </div>

  <add-comment [commentatorAvatarUrl]='post.publisherAvatarUrl'></add-comment>

  <ul *ngFor='let comment of comments'>
    <comment [comment]=comment></comment>
  </ul>

  <button (click)='addComment()'>add new comment</button>

</md-card>