<div class='users-search-engine-container' fxLayoutAlign='center center'>
  <mat-form-field class='form' floatLabel='never'>
    <input type="text" #queryInput matInput placeholder="Szukaj znajomych" [formControl]="queryInputControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of users" [value]="user" (click)='onUserSelected()' [routerLink]="['/users', user._id]">
        <div fxLayoutAlign='start center' fxLayoutGap='10px'>
          <img class='user-avatar' [src]="user.AvatarUrl">
          <div>{{user.name}} {{user.lastname}}</div>
        </div>
      </mat-option>
      <div class='show-all' routerLink="/users" [queryParams]='{query : queryInput.value}' (click)='onShowAllClicked()' fxLayoutAlign='center center'>
        <span>Pokaż wszystko</span>
      </div>
    </mat-autocomplete>
  </mat-form-field>
</div>
