<div class="menu-container container">

    <div class="row">
        <div class="col-md-4 col-xs-4">
            <div class="menu-column">
                <div class="item">
                    <md-icon>home</md-icon>
                    <span class='item-text collapse'>Home</span>
                </div>
                <div class="item">
                    <md-icon>notifications</md-icon>
                    <span class='item-text collapse'>Notifications</span>
                </div>
                <div class="item">
                    <md-icon>message</md-icon>
                    <span class='item-text collapse'>Messages</span>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-xs-4 ">
            <div class="menu-column">
                <a href="">
                    <img src="assets\icon.png" class='icon' alt="">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xs-3">
            <div class="menu-column">

            </div>
        </div>


        <div class="col-md-1 col-xs-1 flex-container flex-row-reverse">
            <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon>more_vert</md-icon>
            </button>

            <md-menu #menu="mdMenu">
                <button md-menu-item>
                    <md-icon>settings</md-icon>
                    <span>Settings</span>
                </button>
                <button md-menu-item>
                    <md-icon>settings</md-icon>
                    <span>Logout</span>
                </button>
            </md-menu>
        </div>


    </div>


</div>