.comment-container {
  margin: 7px;
  .avatar {
    height: 30px;
  }
  .user {
    font-weight: bold;
    font-size: 12px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .content {
    font-size: 12px;
  }
  .comment-date {
    font-size: 10px;
  }
}
