<paper-card>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <img class='img-responsive img-circle' src="{{post.publisherAvatarUrl}}" />
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h3>{{post.publisher}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{post.publishDate}}
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      {{post.content}}
    </div>
    

    <ul *ngFor='let comment of comments'>
      <comment [comment]=comment></comment>
    </ul>

    <add-comment [commentatorAvatarUrl]='post.publisherAvatarUrl'></add-comment>
  </div>
</paper-card>