<div fxLayout=column fxLayoutAlign='center center' fxLayoutGap='15px' infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500"
  (scrolled)="loadPosts()">
  <mat-card class='details-container' *ngIf='user' fxLayout fxLayoutGap='20px'>
    <img class='avatar' [src]="user.avatarUrl">
    <div>
      <div class='name-lastname'>{{user.name}} {{user.lastname}}</div>
      <div *ngIf='!detailsOfLoggedUser'>
        <button *ngIf='!following' class='btn-follow' mat-raised-button (click)='follow()'>Obserwuj</button>
        <button *ngIf='following' class='btn-follow' mat-raised-button (click)='unfollow()'>Przestań obserwoweać</button>
      </div>
    </div>
  </mat-card>
  <app-post *ngFor='let post of posts' [post]='post'></app-post>
</div>
