.details-container {
  width: 700px;
  margin: auto;
  margin-top: 15px;
  .name-lastname {
    font-size: 36px;
  }
  .avatar {
    width: 200px;
    height: 200px;
  }
  .btn-follow {
    margin-top: 10px;
  }
}
