<div class="login-container" fxLayoutAlign='center center'>
  <mat-card>
    <form (ngSubmit)='login()'>
      <div>
        <mat-form-field>
          <input placeholder="Podaj email" matInput ([ngModel])='email'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Podaj hasło" ([ngModel])='password'>
        </mat-form-field>
      </div>
      <button mat-raised-button type='submit'>Zaloguj</button>
    </form>
    <h5 routerLink='/register' class='register'>Nie masz konta? Stwórz je!</h5>
  </mat-card>
</div>
