<mat-card class="post-container">
  <div class="publisher-container" fxLayoutAlign='start center' fxLayoutGap='15px'>
    <img class='avatar' [src]="post.user.avatarUrl">
    <div class='post-information'>
      <div class="publisher-information" [routerLink]="['/users', post.user._id]">{{post.user.name}} {{post.user.lastname}}
      </div>
      <div class='publish-date'>{{post.createdAt | amTimeAgo}}</div>
    </div>
  </div>
  <div class="content-container">
    {{post.content}}
  </div>
  <div class="image-container" fxLayoutAlign='center start'>
    <img [src]="post.imageUrl">
  </div>
  <app-comments-list [post]='post'></app-comments-list>
</mat-card>
