/* You can add global styles to this file, and also import other style files */
body{
    background: #F3F3F3;
}

.flex-container{
    display: flex;    
}

.box{
    margin: 10px;
}

.publisher-information{
    margin-left: 20px;
}

.content{
    font-size: 32px;
}